<table class="table table-bordered" *ngIf="stdArray.length > 0">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of stdArray; let i = index">
            <td>{{i + 1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
            <td>
                <!-- <i class="fa-solid fa-pen-to-square fa-2x"></i> -->
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>edit</mat-icon>
                  </button>
            </td>
            <td>
                <!-- <i class="fa-solid fa-trash fa-2x" (click)="onRemoveStd(std.id)"></i> -->
                <button mat-mini-fab color="warn" (click)="onRemoveStd(std.id)" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
            </td>
        </tr>
    </tbody> 
</table>

<p class="alert alert-info" *ngIf="stdArray.length == 0">No Student is Added Yet!!</p>

