
<h2>Todo Form</h2>

<div class="container">
  <div class="row">
    
      <div class="col-md-6">
      <app-todo-form></app-todo-form>
      </div>
      <div class="col-md-6">
      <app-todo-list></app-todo-list>
     </div>
  </div>
</div>     
    
<hr>
<h2>Student Table</h2>

     <div class="container">
      <div class="row">
        
        <div class="col-md-6">
          <app-std-form></app-std-form>
         </div>
         <div class="col-md-6">
          <app-std-list></app-std-list>
         </div>
      </div>
     </div>

     <hr>

     <h2>Product Form</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-product-form></app-product-form>
    </div>

    <div class="col-md-6">
      <app-product-card 
      [product]="prod"
      *ngFor="let prod of prodArr"></app-product-card>
    </div>
  </div>
</div>     
     
