<div class="card">
    <div class="card-body">

<form [formGroup]="stdForm" (ngSubmit)="onAddStudent()">
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" formControlName="fname" id="fname" class="form-control">
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" formControlName="lname"
        id="lname" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" formControlName="contact" id="contact" class="form-control">
    </div>
    <div class="text-right">
        <button class="btn btn-primary">Add Student</button>
    </div>
</form>
    
</div>
</div>